.App {
  text-align: center;
  background-color: rgb(241, 240, 238);
}
section {
  width: 80vw;
  height: 60vh;
  margin: auto;
  border: 1rem solid rgb(241, 189, 94);
  margin-top: 2rem;
}
.container {
  position: relative;
  background-color: rgb(241, 189, 94);
  animation: bg-animation 200s infinite alternate;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgb(241, 189, 94);
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}
.text-block.a {
  position: absolute;
  top: 20.45rem;
  left: 70%;
  background-color: rgb(241, 189, 94);
  z-index: 12;
}

.p {
  transform: rotate(225deg);
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
  text-transform: uppercase;
}
